.game-container {
    border: solid #000000 5px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 15px;
    display: grid;
    grid-template-areas: 
        " . game-grid . side-bar"
        " . . . side-bar"
        ". bottom-bar . side-bar";
    grid-template-columns: 1fr 11fr 1fr 5fr;
    grid-template-rows: 9fr 0fr 1.5fr;
}