#hand-list{
    display : flex;
}

.hand-container{
    grid-area: bottom-bar;
    display: grid;
    grid-template-columns: 6fr 1fr 3fr;
    width: 670px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.541);
}

#discard{
    height : inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    
}

img.delete{
    height: 85px;
    
}
#bin-wrapper{
    /* border: 1px solid black; */
}