h4 {
    margin: 0px;
    font-size: 1.2vw;
}

.menu-container{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    min-width: 220px;
  
    grid-area: side-bar;
    border: solid blue 1px;
}
.deck-container{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 15px 0px 15px;

}

#deck{
    width :50px;
    height : 70px;
    background-position: center;
    background-size : cover;
    border : 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    color: rgb(251, 253, 253);
}
.player-container{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}
#player{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#player-name-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
}
#player-score-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
button.start {
    width: 200px;
    height: 50px;
}