.menu-container{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    min-width: 200px;
    height: fit-content;
    grid-area: side-bar;
    border: solid blue 1px;
}
.deck-container{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 15px 0px 15px;

}

#deck{
    width :50px;
    height : 70px;
    border : 1px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
}
.player-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
button.start {
    width: 200px;
    height: 50px;
}