.card{
    width :75px;
    border : 2px solid black;
    height : 120px;
    background-size : cover;
}
#hand-list{
    border: 2px solid black;
    width: 600px;
    height: 150px;
    color : red;
    display : flex;
    gap : 25px;
}