.card{
    width :75px;
    border : 2px solid black;
    border-radius: 7px;
    height : 115px;
    background-size : cover;
}
#hand-list{
    padding: 10px;
    border: 2px solid black;
    width: 600px;
    height: 150px;
    color : red;
    display : flex;
    gap : 8px;
}