.game-container {
    border: solid #000000 5px;
    height: 100%;
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;
    /* display: grid;
    grid-template-areas: 
    'main menu';
    grid-template-columns: 8fr 2fr; */
    display: flex;
    flex-direction: row;
    position: fixed;
}

.main-container {
    width: 80%;
    height: 100%;
}


.menu-container {
    height: 100%;
    width: 20%;
    border: solid blue 5px;
}

#deck {
    width : 75px;
    border : 2px solid black;
    border-radius: 10px;
    height : 110px;
    position: relative;
    top: 200px;
    left: 100px;
}