.game-container {
    border: solid black 5px;
    height: 100%;
    width: 80%;
    margin-left: 5px;
    margin-top: 5px;;
    position: fixed;
    display: flex;
    flex-direction: column;
}

body {
    display: grid;
    flex-direction: row;
}


.menu-container {
    height: 100%;
    width: 20%;
    position: fixed;
    border: solid blue 5px;
}